@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: radial-gradient(circle, #192291, #0E1352 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.377);
    width: 600px;
    padding: 50px;
    margin: auto
}

h1 {
    color: #202BB8;
    text-align: center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}

h2{
    color: #3e49e4;
}

p{
    text-align: justify;
    color: #757eff;
}