@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(midia/maxresdefault.jpg);
    
}

header {
    background-image: linear-gradient(to bottom, #002056, #00348e00);
    padding-bottom: 100px;
}

.mainmenu {
    font-size: 1.1em;
    padding-top: 30px;
    font-weight: 800;
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}

.submenu {
    display: none;
}

.mainmenu > li:hover {
    text-decoration: underline 4px #1159d6;
    cursor: pointer;
}

.business {
    display: flex;
    list-style: none;
    padding-top: 400px;
}

.business > li {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.business > li:hover {
    transform: scale(1.2);
}