 @charset "UTF-8";

 body {
           background-color: rgb(27, 30, 31);
           font-family: Arial, Helvetica, sans-serif;
           font-size: 20px;
        }
        h1 {
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-decoration: line-through;
        }
        p {
            color: rgb(85, 89, 92);
        }