@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'montserrat', arial, sans-serif;
    color: white;
}

body {
    background-color: rgb(37, 37, 37);
}

h1 {
color: white;
}

h1#principal {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(160, 154, 154);
}

h2 {
color: gray;
}

.subtitulo {
color: rgb(255, 255, 255);
background-color: gray;
border-radius: 20px;
width: 400px;
padding-left: 25px;
}